---
import { SummonerSearch } from '@/components/summoner/summoner-search';
import Root from '@/layouts/root.astro';

const title = 'Howling Abyss';
const description = 'A stats page for League of Legends';
---

<Root title={title} description={description}>
  <div class="container mx-auto p-2">  
    <SummonerSearch client:load />
  </div>
</Root>
