---
import UnderConstruction from '@/components/meta/under-construction';
import Root from '@/layouts/root.astro';

const title = "Howling Abyss";
const description = "A stats page for League of Legends";
---

<Root title={title} description={description}>
  {import.meta.env.MAINTENANCE ? <UnderConstruction client:load /> : <p>h</p>}
</Root>
